<app-header></app-header>
<div class="allpage">
   <div class="flex">
            <div class="categoriestitle">
            <h1>categories</h1>             
        </div> 
        <div class="categories">
            <h1 (click)="getAllProducts()" class="asd">ALL</h1>
            <div class="flexTape" *ngFor="let item of categories">
                <h1  (click)="categoryFilter(item.id)">{{item.name}}</h1>
            </div>
        </div>
        
        <div class="flist">
                <div>
                    <h1>Spiciness: {{spiciness}}</h1>
                    <input (input)="spicinessChange()" type="range" name="nuts" [(ngModel)]="spicinessValue" min="0" max="5">
                    <input type="checkbox" name="nuts" [(ngModel)]="nuts">
                    <button (click)="reset()">RESET</button>
                    <button (click)="filter()">APPLY FILTER</button>
                </div>
                
            <div class="list">
               
                      
                           <div class="divi" *ngFor="let item of products">
                         <img class="imigi" [src]="item.image" [alt]="item.name">
                              <h1>{{item.name}}</h1>
                                 <p class="price">{{item.price}} $</p>
                                 <button  (click)="apiService.addToBasket(item.id)" class="ohara">Add to cart</button>
            
          
                </div>
              
            </div>
      

</div>

   </div>

</div>
<div class="nopapa">
    <app-footer></app-footer>
</div>

